html {
    font-family: sans-serif;
    background-color: white;
}

.title-card {
    animation: fly-in 3s;
    padding-top: 100pt;
    padding-bottom: 100pt;
    padding-left: 10pt;
    padding-right: 10pt;
    text-align: center;
    vertical-align: middle;
}

.main-title {
    font-size: 40pt;
    text-align: center;
}

.main-subtitle {
    font-size: larger;
}

.login-card {
    background-color: hsl(0 0% 90%);
    border-radius: 25pt;
    padding: 30pt;
    margin: auto;
    max-width: 300pt;
    font-size: larger;
    text-align: center;
    line-height: 25pt;
}

.page-header {
    text-align: left;
    max-width: 300pt;
    margin: auto;
}

.page-title {
    font-size: 20pt;
}

.page-score {
    font-weight: 700;
    font-size: 65pt;
}

.page-subtitle {
    font-size: 15pt;
}

.page-body {
    text-align: left;
    max-width: 350pt;
    margin: auto;
}

.achievement-icon {
    border-radius: 5pt;
}

.achievement-toggle {
    font-size: 20pt;
}

.achievement-value {
    text-align: right;
    vertical-align: middle;
    font-size: 25pt;
}

.achievement-card {
    background-color: hsl(0 0% 90%);
    border-radius: 20pt;
    padding: 20pt;
}

.leaderboard-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard-number {
    padding: 15pt;
    font-size: 25pt;
}

.leaderboard-card {
    width: 250pt;
    display: flex;
    background-color: hsl(0 0% 90%);
    border-radius: 20pt;
    padding: 20pt;
}

.leaderboard-count {
    text-align: right;
    width: 40pt;
}

@keyframes fly-in {
    from {
        transform: scale(50%);
        opacity: 0%;
    }

    50% {
        transform: scale(101%);
        /* opacity: 100%; */
    }

    to {
        transform: scale(100%);
        opacity: 100%;
    }
}
